<!DOCTYPE html>
<html lang="en">

<head>

    <%-include( 'commonLinks')%>
        <meta charset="UTF-8">
        <title>Job Details</title>
</head>

<body>

    <%-include( 'jobPortalNavbar')%>

        <div class="container">
            <div class="row" style="margin:0 !important;padding:0 !important;">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Name</h4>
                    </div>
                    <div class="panel-body">
                        <%-employeedetails[0]['Name']%>
                    </div>
                </div>






            </div>
            <div class="row">
                <%var employeedetails=JSON.parse(JSON.stringify(employeedetails));%>
                    <div class="col-lg-6">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Skills</h4>
                            </div>
                            <div class="panel-body">
                                <%-employeedetails[0][ 'Skills']%>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class=" panel panel-default">
                            <div class="panel-heading">
                                <h4>Contact Information</h4>
                            </div>
                            <div class="panel-body">
                                E-mail:
                                <%-employeedetails[0]['email']%>

                                    <br> phone Number:
                                    <%-employeedetails[0]['contact']%>

                            </div>
                        </div>
                    </div>


            </div>

            <div class="row">
                <%if(employeedetails[0].Certificate){%>
                    <div class="col-lg-6">
                        <div class=" panel panel-default">
                            <div class="panel-heading">
                                <h4>Certificates</h4>
                            </div>
                            <div class="panel-body">

                                <%-employeedetails[0].Certificate%>
                            </div>
                        </div>
                    </div>

                    <%}%>
                        <div class="col-lg-6">
                            <div class=" panel panel-default">
                                <div class="panel-heading">
                                    <h4>Resume</h4>
                                </div>
                                <div class="panel-body">

                                    <a href="/resume/<%-employeedetails[0]['ResumeFilename']%>">Resume</a>
                                </div>
                            </div>
                        </div>
            </div>



        </div>



</body>

</html>